<div class="col-12">
  <div class="panel shadow p-3 mb-5 bg-white rounded">
    <h4 class="titulo m-3">Mis inmuebles</h4>
    <div class="container">
      <!-- Primera fila -->
      <div class="row mb-3">
        <!-- Primera ficha -->
        <div class="col-12 col-lg-6">
          <div class="ficha p-3" style="border: 2px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3 mt-3">NOMBRE DEL PROYECTO</h5>
            <p class="ms-3">{{ contratoSeleccionado?.nombre_proyecto }}</p>
            <div class="row">
              <div class="col-4">
                <p class="titulo2 ms-3 mt-3">TIPO DE PROYECTO</p>
                <p class="ms-3">{{ contratoSeleccionado?.tipo_proyecto }}</p>
              </div>
              <div class="col-4">
                <p class="titulo2 mt-3">NUMERO DE PROYECTO</p>
                <p class="mt-3">{{ contratoSeleccionado?.numero_proyecto }}</p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Segunda ficha -->
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <div class="ficha p-3" style="border: 2px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3 mt-3">Información General</h5>
            <div class="row">
              <div class="col-4">
                <p class="titulo2 ms-3 mt-3">NÚMERO DE CONTRATO</p>
                <p class="ms-3">{{ contratoSeleccionado?.numero_contrato }}</p>
              </div>
              <div class="col-4">
                <p class="titulo2 mt-3">TIPO DE PROYECTO</p>
                <p class="mt-3">{{ contratoSeleccionado?.tipo_proyecto }}</p>
              </div>
              <div class="col-4 text-center">
                <p class="titulo2 mt-3" *ngIf="!tieneDeudas">NO TIENE DEUDAS</p>
                <p class="titulo2 mt-3" *ngIf="tieneDeudas">TIENE DEUDAS PENDIENTES</p>
                <mat-icon class="mt-1" *ngIf="!tieneDeudas" style="font-size: 2rem; color: green;">sentiment_very_satisfied</mat-icon>
                <mat-icon class="mt-1" *ngIf="tieneDeudas" style="font-size: 2rem; color: red;">sentiment_dissatisfied</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Tercera ficha -->
      <div class="row mb-3">
        <div class="col-12 col-lg-6">
          <div class="ficha p-3" style="border: 2px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3 mt-3">Progreso de pago</h5>
            <div class="d-flex align-items-center mx-3">
              <div class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="porcentajePagado" aria-valuemin="0" aria-valuemax="100" style="height: 10px; width: 100%;">
                <div class="progress-bar bg-success" [style.width.%]="porcentajePagado"></div>
              </div>
              <span class="percentage-label ms-2">{{ porcentajePagado.toFixed(2) }}%</span>
            </div>
            <div class="row">
              <div class="col-6 text-start ps-4 mt-3">
                <p class="titulo2">ABONO A LA FECHA:</p>
                <p class="titulo2">USD {{ montoPagadoTotal.toFixed(2) }}</p>
                <!-- <p class="texto1">Última actualización {{ formatDateTemp(fechaActualizacion) }}</p> -->
              </div>
              <div class="col-6 text-end pe-5 mt-3">
                <p class="titulo2">MONTO TOTAL:</p>
                <p class="titulo2">USD {{ montoProgramadoTotal.toFixed(2) }}</p>
                <p class="texto1">{{ cuotasPagadas }}/{{ totalCuotas }} Cuotas pagadas</p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Cuarta ficha -->
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <div class="ficha p-3" style="border: 2px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3 mt-3">Información General</h5>
            <div class="row">
              <div class="col-4">
                <p class="titulo2 ms-3 mt-3">NÚMERO DE CONTRATO</p>
                <p class="ms-3">{{ contratoSeleccionado?.numero_contrato }}</p>
              </div>
              <div class="col-4">
                <p class="titulo2 mt-3">TIPO DE PROYECTO</p>
                <p class="mt-3">{{ contratoSeleccionado?.tipo_proyecto }}</p>
              </div>
              <div class="col-4 text-center">
                <p class="titulo2 mt-3" *ngIf="!tieneDeudas">NO TIENE DEUDAS</p>
                <p class="titulo2 mt-3" *ngIf="tieneDeudas">TIENE DEUDAS PENDIENTES</p>
                <mat-icon class="mt-1" *ngIf="!tieneDeudas" style="font-size: 2rem; color: green;">sentiment_very_satisfied</mat-icon>
                <mat-icon class="mt-1" *ngIf="tieneDeudas" style="font-size: 2rem; color: red;">sentiment_dissatisfied</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Segunda fila -->
      <div class="row mb-3">
        <div class="col-12">
          <div class="ficha p-3" style="border: 2px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3 mt-3">¿Tienes dificultades para pagar, y necesitas ayuda?</h5>
            <p class="texto2 ms-3 mt-3">Ingrese al siguiente enlace y una de nuestras ejecutivas especializadas estará gustosa de atender sus consultas</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="boton1 ms-3 mb-2 me-4">AYUDA</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
