<div class="col-12">
  <div class="panel ">
    <h4 class="titulo m-3">Mis inmuebles</h4>
    <div class="container">
      <!-- Primera fila -->
      <div class="row mb-3">
        <!-- Primera ficha -->
        <div class="col-12 col-lg-6">
          <div class="ficha alt_pan_gen">
            <div class="row">
              <div class="col-8">
                <p class="titulo2 ps-3 pt-3">NOMBRE DEL PROYECTO</p>
                <p class="texto ms-3">{{ contratoSeleccionado?.nombre_proyecto }}</p>
              </div>
              <div class="col-4">
                <div class="container imgCasa mt-4"></div>
              </div>
            </div>
              
            <div class="row">
              <div class="col-7">
                <p class="titulo2 ms-3">TIPO DE PROYECTO</p>
                <p class="ms-3">{{ contratoSeleccionado?.nombre_proyecto }}</p>
              </div>
              <div class="col-5 pe-5">
                <p class="titulo2 mt-3">NUMERO DE PROYECTO</p>
                <p class="mt-3">{{ contratoSeleccionado?.numero_contrato }}</p>
              </div>
            </div>
          </div>
        </div>
        
       <!-- Segunda ficha -->
      <div class="d-none d-lg-block col-12 col-lg-4 mt-3 mt-lg-0 ms-5">
        <div class="alt_pan_proy imgProyecto ">
          </div>
        </div>
      </div>

      <hr>
      
      <h4 class="titulo m-3">Mis inmuebles</h4>
      <div class="container">
        <div class="row mx-3">
          <div class="col-12 col-md-3 mx-0  text-center">
            <div class="ficha mb-3">
              <p class="texto3 mt-3">1</p>
              <div class="container-fluid">
                <div class="container imgPaso1"></div>
              </div>
              <p class="titulo2 ps-3 pt-3">Firma del contrato</p>
            </div>
            <p class="texto2">Completado</p>
          </div>
          <div class="col-12 col-md-3 mx-0 text-center">
            <div class="ficha mb-3">
              <p class="texto3 mt-3">2</p>
              <div class="container-fluid">
                <div class="container imgPaso2 "></div>
              </div>
              <p class="titulo2 ps-3 pt-3">Pago completado</p>
            </div>
            <p class="texto2">En proceso</p>
          </div>
          <div class="col-12 col-md-3 mx-0  text-center">
            <div class="ficha mb-3">
              <p class="texto3 mt-3">3</p>
              <div class="container-fluid ">
                <div class="container imgPaso3 "></div>
              </div>
              <p class="titulo2 ps-3 pt-3">Entrega de mi propie</p>
            </div>
            <p class="texto2">En proceso</p>
          </div>
          <div class="col-12 col-md-3 mx-0  text-center">
            <div class="ficha mb-3">
              <p class="texto3 mt-3 ">4</p>
              <div class="container-fluid">
                <div class="container imgPaso4 "></div>
              </div>
              <p class="titulo2 ps-3 pt-3">Entrega de minuta *</p>
            </div>
            <p class="texto2">En proceso</p>
          </div>
        </div>
        <p class="texto1 mx-3 mt-3">(*) LARES te sugiere que realices la inscripción de tu minuta
          de compraventa en los Registros Públicos, con la finalidad de
           que el inmueble aparezca inscrito a tu nombre.</p>
      </div>

      <h4 class="titulo mt-3 mb-4 mx-3">Anexo</h4>
      <div class="container mb-4">
        <div class="row">
          <div class="col-6 col-md-3 titulo2">Plano de inmueble</div>
          <div class="col-6 col-md-3"><button class="btn boton_anexo">Ver</button></div>
          <div class="col-6 col-md-3 mt-3 mt-md-0 titulo2">Plano del proyecto</div>
          <div class="col-6 col-md-3 mt-3 mt-md-0"><button class="btn boton_anexo">Ver</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
