/*Seccion de rectangulos*/
.panel {
    border: 1px solid #008755;
    background-color: #F2F2F2;
    border-radius: 15px;
    max-width: 1050px;
}
.ficha {
    border: 1px solid #008755;
    background-color: #FFFFFF;
    border-radius: 15px;
}
/*Seccion de titulos*/
.titulo{
    font-size: 20px;
    color: #008755;
    font-weight: bold;
}
.titulo1 {
    font-size: 15px;
    color: #008755;
    font-weight: bold;
}
.h-g{
    margin-top: 10px;
}
.img-inm img{
    border-radius: 15px;
}
/*seccion de textos*/
.titulo2 {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.texto {
    font-size: 14px;
    color: #008755;
    font-weight: bold;
}
.texto1 {
    font-size: 14px;
    color: #008755;
}
.texto2 {
    font-size: 19px;
    color: #8D8D8D;
}
.texto3 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
/*altura paneles*/
.alt_pan_gen{/**altura de la ficha de estado inmueble en "inicio"*/
    min-height: 150px;
}
.alt_pan_proy{/**altura de la ficha de estado inmueble en "inicio"*/
    min-height: 180px;
}


.imgPaso1, .imgPaso2, .imgPaso3, .imgPaso4 {
    border-radius: 15px;
}
.img-inm img{
    height: 160px;
    width: 100%;
}
.boton_anexo{
    border-radius: 15px;
    background-color: #008755;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: bold;
    width: 100px;

}
.process {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.step-container {
    display: flex;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.step-icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.step.completed {
    background-color: #fff;
    color: #008755;
    border-color: #008755;
    max-height: 190px;
    min-height: 190px;
}

.step.completed .step-icon,.step.completed .texto3,.step.completed .titulo2{
    color: #008755;
}

.step:not(.completed) {
    background-color: #fff;
    color: #8d8d8d;
    border-color: #8d8d8d;
    max-height: 190px;
    min-height: 190px;
}
.step, .step .texto3,.step .titulo2{
    color: #8d8d8d;
}
.step:not(.completed) img {
    filter: grayscale(100%);
}
.t-c{
    color: #8d8d8d;
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
}
.text-completed{
    color:#008755;
}
.line {
  width: 200px;
    height: 2px;
    background-color: transparent;
    border-top: 7px solid #8d8d8d;
    margin: 0 -25px 0 -2px;
}

.line_solid {
    width: 200px;
    height: 2px;
    background-color: transparent;
    border-top: 7px solid  #008755;
    margin: 0 -25px 0 -2px;
  }
.line.completed {
    border-top: 7px dashed #008755;
}
@media (max-width: 768px){
    .img-inm, .line{
        display: none;
    }
    .texto1{
        margin: 0!important;
    }
}