<body>
  <!--Navar-->
  <nav class="navbar barra py-2 mb-3 mb-md-6">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/logoGeneral.png" alt="Bootstrap" class="logo">
      </a>

      <div class="navbar-nav ms-auto">
        <div class="row mt-3">
          <div class="col-6">
            <a class="nav-item">
              <a type="button" href="/login" class="boton1 mx-2" [ngClass]="{'active': botonActivo === 'boton2'}"
                (click)="activarBoton('boton2')">INGRESA</a>
            </a>
          </div>
          <div class="col-6">
            <a class="nav-item">
              <a type="button" class="boton2" [ngClass]="{'active': botonActivo === 'boton2'}"
                (click)="activarBoton('boton1')">REGISTRATE</a>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--panel-->
  <div class="container">
    <div class="row">
      <div class="col d-none d-md-block">
        <div class="portada">
        </div>
      </div>

      <div class="col">
        <!--inicio del formulario-->
        <div class="container elemento formulario">
          <h3 class="mb-5" id="titulo4">Activa tu cuenta<br> en Lares</h3>

          <p>¿Si has adquirido un inmueble en Lares?<br> tú puedes <span class="fw-bold">activar tu cuenta</span> ahora
            mismo</p>

          <p>Ingresa tu número de documentos para poder crear tu cuenta</p>

          <!--inicio del formulario-->
          <form class="needs-validation" novalidate #formulario="ngForm" (ngSubmit)="validaRegistro()">
            <div class="input-group">
              <select class="form-select mt-3" id="tipoDocumento" [(ngModel)]="tipoDocumento" name="tipoDocumento"
                required [ngClass]="{'is-invalid': formulario.submitted && (tipoDocumento === 'T' || !tipoDocumento)}">
                <option selected disabled value="T">Tipo de documento</option>
                <option value="DNI">DNI</option>
                <option value="CE">CE</option>
                <option value="RUC">RUC</option>
                <option value="PASAPORTE">Pasaporte</option>
              </select>
              <div *ngIf="formulario.submitted && (tipoDocumento === 'T' || !tipoDocumento)" class="invalid-feedback">
                Debes seleccionar un tipo de documento válido
              </div>
            </div>
            <div class="input-group">
              <input type="text" placeholder="Ingrese Número de documento" class="form-control mt-3"
                id="numeroDocumento" [(ngModel)]="numeroDocumento" name="numeroDocumento"
                aria-label="Text input with dropdown button" required
                [ngClass]="{'is-invalid': formulario.submitted && formulario.controls['numeroDocumento'].invalid}">
              <div *ngIf="formulario.submitted && formulario.controls['numeroDocumento']?.errors?.['required']"
                class="invalid-feedback">
                Debes ingresar el número de documento
              </div>
            </div>
            <div class="mb-3">
              <button class="boton3 mt-4" type="submit">REGISTRAR</button>
            </div>
            <p class="text-end"><a id="link2" class="link-opacity-100-hover" href="#" (click)="openView(3)">¿Ya estás
                registrado?</a></p>
            <p class="text-end"><a id="link2" class="link-opacity-100-hover" href="#">¿Olvidaste tu contraseña?</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>