
<!--<div class="col-12 ">-->
  <div class="fondo_panel mb-4 mt-0 ">
    <div class="row">
      <div class=" d-none d-lg-block col-md-4 col-lg-4">
        <img class="img_panel" [src]="UrlBaner">
      </div>
      <div class="col-12 col-md-12 col-lg-8">
        <p class="titulo_panel pt-2 pt-md-2 pt-lg-4 px-4" >¡Bienvenido(a) {{ usuario?.cliente }}!</p>
        <p class="letra_panel pt-2 pt-lg-2 px-4">Puedes conocer tus pagos pendientes o pagar tu próxima letra además de conocer tu deuda total.</p>
      </div>
    </div>
    
  </div>
  <div class="panel">
    <h4 class="titulo m-3">Mi resumen</h4>
    <div class="container">
      <!--primera fila-->
      <div class="row">
        <div class=" col-12 col-lg-6"><!--Primera ficha-->
          <div class="ficha alt_ult_pag">
            <p class="titulo1 ps-3 pt-3">Mis últimos pagos</p>
            <ng-container *ngIf="listaLastPayment && listaLastPayment.length > 0; else noPayments">
              <div *ngFor="let pago of listaLastPayment" class="mb-3">
                <p class="titulo3 ps-3"><i class="bi bi-circle-fill"></i> PAGADO</p>
                <div class="row">
                  <div class="texto2 col-6 ps-4">{{ formatDate(pago.fecha_vcto) }}</div>
                  <div class="col-6 pe-4 text-end titulo1"> {{pago.moneda}} {{ formatCurrency(pago.monto_pagado) }}</div>
                </div>
                <p class="titulo3 ps-3">Cuota: {{ pago.numero_couta }}</p>
                <hr class="mx-3">
              </div>
            </ng-container>
            <ng-template #noPayments>
              <p class="texto2 mt-3 ps-3">Aún no realiza ningún pago de sus letras</p>
            </ng-template>
          </div>
          
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <div class="ficha p-3" style="border: 1px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3">Progreso de pago</h5>
            <div class="d-flex align-items-center mx-3">
              <div class="progress" role="progressbar" aria-label="Animated striped example"
                [attr.aria-valuenow]="porcentajePagado" aria-valuemin="0" aria-valuemax="100"
                style="height: 10px; width: 100%;">
                <div class="progress-bar bg-success" [style.width.%]="porcentajePagado"></div>
              </div>
              <span class="percentage-label ms-2">{{ porcentajePagado.toFixed(2) }}%</span>
            </div>
            <div class="row">
              <div class="col-6 text-start ps-4 mt-3">
                <p class="titulo2">ABONO A LA FECHA:</p>
                <p class="titulo2">{{moneda}} {{ formatMilesNumber(montoPagadoTotal.toFixed(2)) }}</p>
              </div>
              <div class="col-6 text-end pe-5 mt-3">
                <p class="titulo2">MONTO TOTAL:</p>
                <p class="titulo2">{{moneda}} {{ formatMilesNumber(montoProgramadoTotal.toFixed(2)) }}</p>
                <p class="texto1">{{ cuotasPagadas }}/{{ totalCuotas }} Cuotas pagadas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-3"><!--Tercera ficha-->
          <div class="ficha alt_prox_ven">
            <p class="titulo1 ps-3 pt-3">Mi próxima letra a pagar</p>
            
            <!-- Verifica si la lista está vacía o nula -->
            <ng-container *ngIf="listaProximaLetra && listaProximaLetra.length > 0; else noPayments2">
                <!-- Muestra solo los primeros tres registros -->
                <div *ngFor="let letra of listaProximaLetra.slice(0, 3)" class="mb-3">
                    <!-- Contenido de cada registro -->
                    <p class="titulo2 ps-3">PRÓXIMO VENCIMIENTO</p>
                    <div class="row">
                        <div class="texto2 col-6 ps-4">{{ formatDate(letra.fecha_vcto) }}</div>
                        <div class="titulo1 col-6 pe-4 text-end">{{letra.moneda}} {{ formatCurrency(letra.saldo) }}</div>
                    </div>
                    <p class="titulo2 ps-3">Cuota: {{ letra.numero_couta }}</p>
                    <hr class="mx-3">
                </div>
                <!-- Verifica si la lista tiene más de tres elementos -->
                <ng-container *ngIf="listaProximaLetra.length > 3">
                    <!-- Botón "Ver más" -->
                    <button class="link btn btn-link" (click)="showAll = true" *ngIf="!showAll">Ver más</button>
        
                    <!-- Muestra el resto de la lista si se hace clic en "Ver más" -->
                    <div *ngIf="showAll">
                        <div *ngFor="let letra of listaProximaLetra.slice(3)" class="mb-3">
                            <!-- Contenido de cada registro -->
                            <p class="titulo2 ps-3">PRÓXIMO VENCIMIENTO</p>
                            <div class="row">
                                <div class="texto2 col-6 ps-4">{{ formatDate(letra.fecha_vcto) }}</div>
                                <div class="titulo1 col-6 pe-4 text-end">{{ formatCurrency(letra.saldo) }}</div>
                            </div>
                            <p class="titulo2 ps-3">Cuota: {{ letra.numero_couta }}</p>
                            <hr class="mx-3">
                        </div>
                    </div>
                    <!-- Botón "Ver menos" -->
                    <button class="link btn btn-link" (click)="toggleShowAll()" *ngIf="showAll">Ver menos</button>
                </ng-container>
            </ng-container>
        
            <!-- Mensaje si la lista está vacía o nula -->
            <ng-template #noPayments2>
                <p class="texto2 mt-3 ps-3">Por el momento no tiene deudas</p>
            </ng-template>
        
            <!-- Enlace para ver todas las deudas -->
            <p class="text-end">
              <a class="link link-opacity-100-hover px-3" (click)="setModulo('PAGOS')" id="link1">
                Ver mis deudas
              </a>
            </p>
        </div>
        </div>
        <div class="col-lg-6 mt-3"><!--cuarta ficha-->
          <div class="ficha">
            <!--contenido-->
            <p class="titulo1 ms-3 mt-3">Gestiones</p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="titulo3 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseOne')">
                    Post Venta 
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body mt-0">
                    <a class="link link-opacity-100-hover"
                        href="https://api.whatsapp.com/send?phone=51975146063&text=¡Hola!👋%20Tengo%20dudas%20y%20consultas%20en%20el%20%20proceso%20de%20post%20Venta%20¿Podría%20ayudarme%3F"
                        target="_blank">Escríbenos aquí</a>

                    <P class="texto2"></P>
                      <ul>
                        <li><strong>Recojo de letras:</strong> Coordina el recojo de tus letras canceladas al WhatsApp. </li>
                        <li><strong>Firma de contrato:</strong> Culminado el proceso de firmas, te comunicaremos el momento de recogerlo en nuestras oficinas, mediante mensaje de WhatsApp y/o correo electrónico.</li>
                        <li><strong>Firma de agenda:</strong> Culminado el proceso de generación de adendas, te comunicaremos mediante mensaje de WhatsApp y/o correo electrónico, el momento de presentarte a nuestras oficinas para firmar y recoger tu adenda. Recuerda que deberán presentarse todos los que firmaron el contrato/compromiso, de lo contrario el trámite no podrá ser culminado.</li>
                        <li><strong>Comunicación de avance de proyecto:</strong> Usted puede solicitar una cita con nuestro equipo técnico / legal para informarse del avance del proyecto.</li>
                        <li><strong>Constancia de Cancelación:</strong> A través de nuestro link Mis Trámites usted podrá descargar su Constancia de Cancelación. En caso de no haber cancelado todo el precio de venta, esta no podrá ser emitida.</li>
                        <li><strong>Si tu consulta no ha sido atendida:</strong> comunícate al correo <a href="mailto:farana@activaholding.pe">farana&#64;activaholding.pe</a> y coordinaremos la solución al tema planteado. </li>
                      </ul>
                       
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="titulo3 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseTwo')">
                    Cobranzas
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <a class="link link-opacity-100-hover"
                        href="https://api.whatsapp.com/send?phone=51923365503&text=Estoy%20experimentando%20dificultades%20para%20pagar%20en%20este%20momento%20y%20necesito%20ayuda.%20¿Podrías%20guiarme%20sobre%20cómo%20proceder%3F"
                        target="_blank">Escríbenos aquí</a>
                      <ul>
                        <li><strong>Dudas sobre cómo realizar mis pagos:</strong> Usted recibirá una comunicación días antes del vencimiento con el recordatorio de pago y el procedimiento para la cancelación de la cuota por vencer.</li>
                        <li><strong>Envío de Voucher de abono:</strong> Una vez efectuado el abono, por favor remitir el abono al correo <a href="mailto: creditosycobranzas@activaholding.pe">creditosycobranzas&#64;activaholding.pe</a> </li>
                        <li><strong>Problemas con mis pagos:</strong> Comunícate al correo <a href="mailto: creditosycobranzas@activaholding.pe">creditosycobranzas&#64;activaholding.pe</a>  y al WhatsApp 923365503 para recibir ayuda del proceso de pagos.</li>
                        
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div><!--fin de fila-->
      <hr >
      <div class="row">
        <p class="f-t">Mantente actualizado sobre nuestras novedades</p>
        <div class="social-icons">
          <a href="https://www.instagram.com" target="_blank" class="social-icon">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.tiktok.com" target="_blank" class="social-icon">
            <i class="bi bi-tiktok"></i>
          </a>
          <a href="https://www.facebook.com" target="_blank" class="social-icon">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="social-icon">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
        
      </div>
      <br>
    </div>
  </div>
<br><!--Fin Panel-->
<!--</div>-->