
<!--<div class="col-12 ">-->
  <div class="container-fluid fondo_panel mb-4 mt-0 mt-lg-5">
    <div class="row">
      <div class=" d-none d-lg-block col-md-4 col-lg-4">
        <img class="img_panel " src="../../../../../assets/img_panel.png">
      </div>
      <div class="col-12 col-md-12 col-lg-8">
        <p class="titulo_panel pt-2 pt-md-2 pt-lg-4" >¡Bienvenido(a) {{ usuario?.cliente }}!</p>
        <p class="letra_panel pt-1 pt-lg-4 ">Puedes conocer tus pagos pendientes o pagar tu próxima letra además de conocer tu deuda total.</p>
      </div>
    </div>
    
  </div>
  <div class="panel">
    <h4 class="titulo m-3">Mi resumen</h4>
    <div class="container">
      <!--primera fila-->
      <div class="row">
        <div class=" col-12 col-lg-6"><!--Primera ficha-->
          <div class="ficha alt_ult_pag">
            <p class="titulo1 ps-3 pt-3">Mis últimos pagos</p>
            <ng-container *ngIf="listaLastPayment && listaLastPayment.length > 0; else noPayments">
              <div *ngFor="let pago of listaLastPayment" class="mb-3">
                <p class="titulo3 ps-3">PAGADO</p>
                <div class="row">
                  <div class="texto2 col-6 ps-4">{{ formatDate(pago.fecha_vcto) }}</div>
                  <div class="col-6 pe-4 text-end titulo1"> {{pago.moneda}} {{ formatCurrency(pago.monto_pagado) }}</div>
                </div>
                <p class="titulo3 ps-3">Cuota: {{ pago.numero_couta }}</p>
                <hr class="mx-3">
              </div>
            </ng-container>
            <ng-template #noPayments>
              <p class="texto2 mt-3 ps-3">Aún no realiza ningún pago de sus letras</p>
            </ng-template>
          </div>
          
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0"><!--ficha 2-->
          <div class="ficha alt_est_inm">
            <!--contenido-->
            <p class="titulo1 ms-3 mt-3">Estado de mi inmuebles</p>
            <div class="row">
              <div class="col-6">
                <p class="texto2 ps-3">Gracias por confiar en nosotros,
                  el estado actual es:<strong>Firma del contrato</strong></p>
                <!--<p type="button" class="link-opacity-100-hover ps-3" (click)="setModulo('PAGOS')" id="link1">Ver mis deudas</p>-->

              </div>
              <div class="col-6">
                <div class="container-fluid me-4">
                  <div class="container imgFirma"></div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="col-lg-6 mt-3"><!--Tercera ficha-->
          <div class="ficha alt_prox_ven">
            <p class="titulo1 ps-3 pt-3">Mis próximas letras a pagar</p>
            
            <!-- Verifica si la lista está vacía o nula -->
            <ng-container *ngIf="listaProximaLetra && listaProximaLetra.length > 0; else noPayments2">
                <!-- Muestra solo los primeros tres registros -->
                <div *ngFor="let letra of listaProximaLetra.slice(0, 3)" class="mb-3">
                    <!-- Contenido de cada registro -->
                    <p class="titulo2 ps-3">PRÓXIMO VENCIMIENTO</p>
                    <div class="row">
                        <div class="texto2 col-6 ps-4">{{ formatDate(letra.fecha_vcto) }}</div>
                        <div class="titulo1 col-6 pe-4 text-end">{{letra.moneda}} {{ formatCurrency(letra.saldo) }}</div>
                    </div>
                    <p class="titulo2 ps-3">Cuota: {{ letra.numero_couta }}</p>
                    <hr class="mx-3">
                </div>
                <!-- Verifica si la lista tiene más de tres elementos -->
                <ng-container *ngIf="listaProximaLetra.length > 3">
                    <!-- Botón "Ver más" -->
                    <button class="link btn btn-link" (click)="showAll = true" *ngIf="!showAll">Ver más</button>
        
                    <!-- Muestra el resto de la lista si se hace clic en "Ver más" -->
                    <div *ngIf="showAll">
                        <div *ngFor="let letra of listaProximaLetra.slice(3)" class="mb-3">
                            <!-- Contenido de cada registro -->
                            <p class="titulo2 ps-3">PRÓXIMO VENCIMIENTO</p>
                            <div class="row">
                                <div class="texto2 col-6 ps-4">{{ formatDate(letra.fecha_vcto) }}</div>
                                <div class="titulo1 col-6 pe-4 text-end">{{ formatCurrency(letra.saldo) }}</div>
                            </div>
                            <p class="titulo2 ps-3">Cuota: {{ letra.numero_couta }}</p>
                            <hr class="mx-3">
                        </div>
                    </div>
                    <!-- Botón "Ver menos" -->
                    <button class="link btn btn-link" (click)="toggleShowAll()" *ngIf="showAll">Ver menos</button>
                </ng-container>
            </ng-container>
        
            <!-- Mensaje si la lista está vacía o nula -->
            <ng-template #noPayments2>
                <p class="texto2 mt-3 ps-3">Por el momento no tiene deudas</p>
            </ng-template>
        
            <!-- Enlace para ver todas las deudas -->
            <p class="text-end">
              <a class="link link-opacity-100-hover px-3" (click)="setModulo('PAGOS')" id="link1">
                Ver mis deudas
              </a>
            </p>
        </div>
        </div>
        <div class="col-lg-6 mt-3"><!--cuarta ficha-->
          <div class="ficha">
            <!--contenido-->
            <p class="titulo1 ms-3 mt-3">Gestiones</p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseOne')">
                    Post Venta 
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <P class="texto2">Consultas</P>
                      <ul>
                        <li>Recojo de letras</li>
                        <li>Firma de contrato</li>
                        <li>Firma de adenda</li>
                        <li>Comunicación de avance del proyecto</li>
                        <li>Cartas de no adeudo</li>
                        <li>Horario de atención: 9am a 1pm y de 3pm a 4pm</li>
                      </ul>
                      <p>¿Necesitas ayuda? Escríbenos aquí: <a class="link link-opacity-100-hover"
                        href="https://api.whatsapp.com/send?phone=51975146063&text=¡Hola!👋%20Tengo%20dudas%20y%20consultas%20en%20el%20%20proceso%20de%20post%20Venta%20¿Podría%20ayudarme%3F"
                        target="_blank">+51 975 146 063</a></p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseTwo')">
                    Cobranzas
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <P class="texto2">Consultas</P>
                      <ul>
                        <li>Dudas sobre cómo realizar pagos</li>
                        <li>Envío de voucher de abono</li>
                        <li>Solicitud de Estado de cuenta</li>
                        <li>Cálculo de refinanciamiento</li>
                        <li>Cálculo de prepagos</li>
                        <li>Horario de atención: 9am a 1pm y de 2pm a 6pm</li>
                      </ul>
                      <p>¿Necesitas ayuda? Escríbenos aquí: <a class="link link-opacity-100-hover"
                        href="https://api.whatsapp.com/send?phone=51923365503&text=Estoy%20experimentando%20dificultades%20para%20pagar%20en%20este%20momento%20y%20necesito%20ayuda.%20¿Podrías%20guiarme%20sobre%20cómo%20proceder%3F"
                        target="_blank">+51 923 365 503</a></p>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div><!--fin de fila-->
      <h4 class="titulo m-3">Novedades</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="ficha p-3">
            <div class="container-flui pb-3">
              <div class="container imgFicha1 "></div>
            </div>
            <p class="titulo1 ">Proximos proyectos a realizar</p>
            <p class="tituloFicha ">Los Rosales de Manchay</p>
            <p class="texto2 ">¡Hola emprendedor! ¿Cómo va tu emprendimiento? Hoy te enseñamos uno de los procesos aparentemente más sencillos...</p>
            <a class="link link-opacity-100-hover" href="https://www.lares.pe/pages/nuestros-proyectos" target="_blank"><!--(click)="setModulo('PAGOS')" id="link1-->
              Ver Detalle
            </a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="ficha p-3 mt-3 mt-lg-0">
            <div class="container-flui pb-3">
              <div class="container imgFicha2 "></div>
            </div>
            <p class="titulo1 ">Proximos proyectos a realizar</p>
            <p class="tituloFicha ">Villa el Encanto Paracas</p>
            <p class="texto2 ">¡Hola emprendedor! ¿Cómo va tu emprendimiento? Hoy te enseñamos uno de los procesos aparentemente más sencillos...</p>
            <a class="link link-opacity-100-hover" href="https://www.lares.pe/pages/nuestros-proyectos" target="_blank">
              Ver Detalle
            </a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="ficha p-3 mt-3 mt-lg-0">
            <div class="container-flui pb-3">
              <div class="container imgFicha3 "></div>
            </div>
            <p class="titulo1 ">Proximos proyectos a realizar</p>
            <p class="tituloFicha ">La Capilla Cieneguilla</p>
            <p class="texto2 ">¡Hola emprendedor! ¿Cómo va tu emprendimiento? Hoy te enseñamos uno de los procesos aparentemente más sencillos...</p>
            <a class="link link-opacity-100-hover" href="https://www.lares.pe/pages/nuestros-proyectos" target="_blank"><!--(click)="setModulo('PAGOS')" id="link1-->
              Ver Detalle
            </a>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
<br><!--Fin Panel-->
<!--</div>-->