.content {
    height: 200px;
}

.error {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 20px;
    color: #b62316;
}

.text {
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    color: #b62316;
}

.admin {
    position: absolute;
    top: 120px;
    left: 0;
    font-size: 20px;
}

.buttonLink {
    position: absolute;
    top: 160px;
    left: 0;
}
