<div class="col-12">
  <div class="panel mb-2">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <span class="titulo">
          Como realizar mis pagos
        </span>
      </h2>
      <div id="collapseUno">
        <div class="accordion-body">
          <h5 class="titulo1 ">Información General</h5>
          <p class="texto2 ms-3 mt-3">Para realizar el pago de tu letra, sigue los siguientes pasos</p>
          <div class="container">
            <div class="row mb-1">
              <div class="carousel mt-3">
                <div class="carousel-container">
                  <div class="carousel-slide" *ngFor="let slide of slides; let i = index"
                    [class.active]="i === currentSlide" [ngClass]="{'bg-black': i === 1 || i === 3}">
                    <img [src]="slide.image" alt="Slide Image">
                    <div class="step mt-4">
                      <h2 class="t-title">{{slide.stepTitle}}</h2>
                      <p class="t-desc">{{slide.stepDescription}} <strong>{{slide.strongp}}</strong></p>
                      <div class="step-desc" [ngClass]="{
                            'oval': slide.shape === 'oval',
                            'rectangle': slide.shape === 'rectangle',
                            'limp': slide.shape === 'limp',
                          }">
                        <div class="i">
                          <i [ngClass]="'bi bi-' + slide.iconClass"></i>
                        </div>
                        <span><strong>{{slide.strong1}}</strong> {{slide.additionalInfo}}</span>
                        <span><strong>{{slide.strong2}}</strong> {{slide.additionalInfo2}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-indicators">
                  <span *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlide"
                    (click)="goToSlide(i)"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>
  <div class="panel">
    <h4 class="titulo m-3">Mis pagos</h4>
    <div class="container">
      <!-- Primera ficha -->
      <div class="row mb-3">

        <div class="col-12 col-lg-6">
          <div class="ficha p-3 alt_pan_gen"
            style="border: 1px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ">Información General</h5>
            <div class="row align-items-center">
              <div class="col-3 col-md-3">
                <p class="titulo2 text-center mt-1 mb-1">NRO DE CONTRATO</p>
                <p class="text-center mb-0">{{ contratoSeleccionado?.numero_contrato }}</p>
              </div>
              <div class="col-3">
                <p class="titulo2 text-center mt-1 mb-1">PROYECTO</p>
                <p class="text-center mb-0">{{ contratoSeleccionado?.nombre_proyecto }}</p>
              </div>
              <div class="col-3">
                <div class="row">
                  <div class="col-6 ">
                    <p class="titulo2 text-center mt-1 mb-1">Mz: </p>
                  </div>
                  <div class="col-6 ">
                    <p class="text-center  mt-1 mb-1">{{ contratoSeleccionado?.Manzana }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <p class="titulo2 text-center mt-1 mb-1">Lt:</p>
                  </div>
                  <div class="col-6">
                    <p class="text-center  mt-1 mb-1">{{ contratoSeleccionado?.Lote }}</p>
                  </div>
                </div>
              </div>
              <div class="col-3 text-center d-flex flex-column align-items-center justify-content-center">
                <p class="titulo2 mt-2 mb-1" *ngIf="!tieneDeudas">NO TIENE DEUDAS</p>
                <p class="titulo2 mt-2 mb-1" *ngIf="tieneDeudas">DEUDAS PENDIENTES</p>
                <mat-icon class="mt-1 icon_face" *ngIf="!tieneDeudas"
                  style="font-size: 3rem; color: green;">sentiment_very_satisfied</mat-icon>
                <mat-icon class="mt-1 icon_face" *ngIf="tieneDeudas"
                  style="font-size: 3rem; color: red;">sentiment_dissatisfied</mat-icon>
              </div>
            </div>
          </div>
        </div>


        <!-- Segunda ficha -->
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <div class="ficha p-3" style="border: 2px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3">Progreso de pago</h5>
            <div class="d-flex align-items-center mx-3">
              <div class="progress" role="progressbar" aria-label="Animated striped example"
                [attr.aria-valuenow]="porcentajePagado" aria-valuemin="0" aria-valuemax="100"
                style="height: 10px; width: 100%;">
                <div class="progress-bar bg-success" [style.width.%]="porcentajePagado"></div>
              </div>
              <span class="percentage-label ms-2">{{ porcentajePagado.toFixed(2) }}%</span>
            </div>
            <div class="row">
              <div class="col-6 text-start ps-4 mt-3">
                <p class="titulo2">ABONO A LA FECHA:</p>
                <p class="titulo2">{{moneda}} {{ formatMilesNumber(montoPagadoTotal.toFixed(2)) }}</p>
              </div>
              <div class="col-6 text-end pe-5 mt-3">
                <p class="titulo2">MONTO TOTAL:</p>
                <p class="titulo2">{{moneda}} {{ formatMilesNumber(montoProgramadoTotal.toFixed(2)) }}</p>
                <p class="texto1">{{ cuotasPagadas }}/{{ totalCuotas }} Cuotas pagadas</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tercera ficha -->
      <div class="row mb-3">
        <div class="col-12">
          <div class="ficha p-3" style="border: 1px solid #008755; background-color: #FFFFFF; border-radius: 15px;">
            <h5 class="titulo1 ms-3">¿Tienes dificultades para pagar, y necesitas ayuda?</h5>
            <p class="texto2 ms-3 mt-3">Ingrese al siguiente enlace y una de nuestras ejecutivas especializadas estará
              gustosa de atender sus consultas</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="boton1 ms-3 mb-2 me-4 text-center"
                href="https://api.whatsapp.com/send?phone=51923365503&text=Estoy%20experimentando%20dificultades%20para%20pagar%20en%20este%20momento%20y%20necesito%20ayuda.%20¿Podrías%20guiarme%20sobre%20cómo%20proceder%3F"
                target="_blank">AYUDA</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Cuarta ficha -->
      <div class="row mb-3">
        <div class="col-12">
          <div class="ficha p-3 custom-table">
            <h5 class="titulo1 ms-3 mb-5">Historial de pagos</h5>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <!--<button class="boton1 ms-3 mb-2 me-4">COMPLETADO</button>-->
            </div>
            <div class="container">
              <div class="overflow-x-auto table-wrapper">
                <table class="table table-striped text-center">
                  <thead>
                    <tr>
                      <th class="titulo2" scope="col">#LETRAS</th>
                      <th class="titulo2" scope="col">CUOTA</th>
                      <th class="titulo2" scope="col">MORA</th>
                      <th class="titulo2" scope="col">TOTAL A PAGAR</th>
                      <th class="titulo2" scope="col">FECHA DE VCTO.</th>
                      <th class="titulo2" scope="col">PAGADO</th>
                      <th class="titulo2" scope="col">SALDO</th>
                      <th class="titulo2" scope="col">FECHA DE PAGO</th>
                      <th class="titulo2" scope="col">BOLETA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let historial of getPaginatedList()" [ngClass]="{
                          'cuota-pagada': historial.saldo === '0.00',
                          'deuda-vencida': isDeudaVencida(historial)
                      }" class="table-row">
                      <td>{{ getProjectName(historial) }}</td>
                      <td>{{ formatMilesNumber(historial.monto_programado) }}</td>
                      <td>{{ historial.mora }}</td>
                      <td>{{ formatMilesNumber(historial.monto_programado) }}</td>
                      <td>{{ historial.fecha_vcto }}</td>
                      <td>{{ formatMilesNumber(historial.monto_pagado) }}</td>
                      <td>{{ formatMilesNumber(historial.saldo) }}</td>
                      <td>{{ historial.fecha_pago }}</td>
                      <td>
                        <p class="text-end" *ngIf="shouldShowButton(historial.monto_pagado, historial.saldo)">
                          <a class="link link-opacity-100-hover px-3" (click)="openModalBoleta(historial.nombre)"
                            id="link1">
                            Ver
                          </a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
              <button class="btn_tabla btn-primary me-2" (click)="prevPage()">&lt;</button>
              <span class="titulo2 me-2">Página {{ currentPage }} de {{ getTotalPages() }}</span>
              <button class="btn_tabla btn-primary" (click)="nextPage()">></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>