<body>
  <div class="container">
    <div class="form_cambio p-5">
      <p id="titulo">Cambio de contraseña</p>
      <p id="texto2">Estimado cliente, por su seguridad, le sugerimos cambiar su contraseña actual para una de mayor
        seguridad.</p>
      <p id="texto2">Recuerde que la contraseña que está manejando actualmente es su número de documento.</p>
      <form id="form" (ngSubmit)="cambiarPassword(formulario)" #formulario="ngForm">
        <p id="texto2">Contraseña actual:</p>
        <div class="element mb-3">
          <div class="input-group">
            <input [type]="showPasswordActual ? 'text' : 'password'" class="form-control" id="passwordActual"
              [(ngModel)]="passwordActual" name="passwordActual" required
              [ngClass]="{'is-invalid': formulario.submitted && formulario.controls['passwordActual'].invalid}">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('actual')">
              <i [class]="showPasswordActual ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
            <div *ngIf="formulario.submitted && formulario.controls['passwordActual']?.errors?.['required']"
              class="invalid-feedback">
              Debes ingresar la contraseña actual
            </div>
          </div>
        </div>

        <p id="texto2">Nueva contraseña:</p>
        <div class="element mb-3">
          <div class="input-group">
            <input [type]="showNuevaPassword ? 'text' : 'password'" class="form-control" id="nuevaPassword"
              [(ngModel)]="nuevaPassword" name="nuevaPassword" required
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              [ngClass]="{'is-invalid': formulario.submitted && formulario.controls['nuevaPassword'].invalid}">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('nueva')">
              <i [class]="showNuevaPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
            <div *ngIf="formulario.submitted && formulario.controls['nuevaPassword']?.errors?.['required']"
              class="invalid-feedback">
              Debes ingresar la nueva contraseña
            </div>
            <div *ngIf="formulario.submitted && formulario.controls['nuevaPassword']?.errors?.['pattern']"
              class="invalid-feedback">
              La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, una minúscula, un número y un
              carácter especial.
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          <button class="boton3" type="submit">CAMBIAR CONTRASEÑA</button>
        </div>
      </form>
    </div>
  </div>
</body>