.card-body {
  padding: 20px;
  background-color: #fff;
}

.check-icon {
  font-size: 80px;
  color: #749806;
}

.btn-success {
  background-color: #749806;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
}

.btn-success:hover {
  background-color: #5c7d04;
}