<!-- <p>confirmacion works!</p> -->

    <!--Navar-->
    <nav class="navbar navbar-expand-lg barraLogin py-3 mb-5">
      <div class="container">
          <a class="navbar-brand" href="#">
              <img src="../../assets/logo2.png" alt="Bootstrap" class="logo">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
              <a class="nav-item d-none d-lg-block">
                  <button type="button" class="boton2 btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    ?
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content modal1">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5 titulo_modal" id="staticBackdropLabel">Importante</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>¿Necesita ayuda para ingresar? Por favor
                                  póngase en contacto con nosotros:</p>
                              <p>Email:</p>
                              <p>Call center</p>
                            </div>
                            <div class="text-center mb-3">
                          <button type="button" class="boton2 text-center" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div><!--din modal-->
              </a>
              <a class="nav-item">
                  <a type="button" href="/login" class="boton1 d-none d-lg-block mx-2">INGRESA</a>
              </a>
              <a class="nav-item">
                <a type="button" href="/registro" class="boton2 d-none d-lg-block">REGISTRATE</a>
              </a>
              <a class="nav-link d-lg-none" id="texto3" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Informacion</a>
              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content modal1">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5 titulo_modal" id="staticBackdropLabel">Importante</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>¿Necesita ayuda para ingresar? Por favor
                              póngase en contacto con nosotros:</p>
                          <p>Email:</p>
                          <p>Call center</p>
                        </div>
                        <div class="text-center mb-3">
                      <button type="button" class="boton2 text-center" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                  </div>
                </div>
              </div><!--din modal-->
            <a class="nav-link d-lg-none" id="texto3" href="#">Ingreso</a>
            <a class="nav-link d-lg-none" id="texto3" href="#">Registro</a>
          </div>
        </div>
      </div>
    </nav>
  
        <!--panel-->
      <div class="container">
          <div class="row">
            <div class="col d-none d-md-block">
              <div class="portada">
              </div>
            </div>
    
            <div class="col"><!--inicio del formulario-->
              <div class="container elemento formulario">
                <h3 class="mb-5" id="titulo4">Crea tu cuenta<br>Ventana Lares</h3>
                  <p>Se envió correo de confirmación a tu cuenta registrada al momento de tu compra.</p>
                  <span class="fw-bold ps-3">n*****aejemplo.com</span>
                  <p id="texto4" class="text-start mt-3">¿No te llegaron las notificaciones?<a id="link2" class="link-opacity-100-hover" href="#">Enviar de nuevo</a></p><!--link-->
                  <p id="texto4" class="text-start">¿Ya no usas este email/número de celular?<a id="link2" class="link-opacity-100-hover" href="#">Comunicar con un asesor</a></p><!--link-->
               </div>
            </div>
    
          <div>
        <div>