
.barra{
    position:sticky;
    top: 0;
    z-index: 1;
    background-color: #008755;
}
.btn5{
    font-size: 15px;
    color: #008755;
    background-color: #FFFFFF;
    font-weight: bold; 
}
.barV{
    border: 2px solid #000000;
    background-image:url(../../../assets/fondo.png);
    background-size: 100px 100px;
    background-repeat: repeat;
    border-radius: 15px;
}
@media (min-width: 992px){
    #barV {
        max-width: 200px;
    }
}

.barH{
    border: 2px solid #000000;
    background-image:url(../../../assets/fondo.png);
    background-size: 100px 100px;
    background-repeat: repeat;
    border-radius: 15px;
}

.text_barV{
    font-weight: bold;
}

.btn_act{
    border: 3px solid #008755;
    max-width: 175px;
    color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.btn_des{
    color: #FFFFFF;
}
.btn_actH{
    border: 3px solid #008755;
    max-width: 175px;
    color: #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.btn_desH{
    color: #FFFFFF;
}
.btn_des:hover{
    border: 3px solid #008755;
    max-width: 175px;
    border-radius: 15px;
}

/*------------*/
/*Nuevo codigo*/
.btn6{
    color: #008755;
    background-color: #FFFFFF;
    font-weight: bold;
    align-items: end;

}
.btn6:hover{
    background-color: #F2F2F2;
    color: #008755;

}
.linea{
    border: 2px solid;
}
#texto5{
    font-size: 19px;
    color: #FFFFFF;
    font-weight:normal;
    line-height: 2.5;
    padding-left: 8px;
}
.text_tabla{
    font-size: 10px;
}
.texto8{
    font-size: 16px;
}
