

<!--Navar-->
<nav class="navbar barra py-3 mb-2 mb-md-5">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="Bootstrap" class="logo">
    </a>
      <div class="navbar-nav ms-auto">
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="dropdown" (click)="toggleDropdown()">
              <button class="btn btn5 dropdown-toggle" type="button" id="dropdownMenuButton"
                [attr.aria-expanded]="dropdownOpen ? 'true' : 'false'" (click)="toggleDropdownAndSelect()">
    
                <div class="row">
                  <div class="col">{{ contratoSeleccionado?.nombre_proyecto }}</div>
                  <div class="col">{{contratoSeleccionado?.numero_contrato}} - {{ contratoSeleccionado?.Lote }}
                    <!--Et: {{ contratoSeleccionado?.nombre }} <br>
                    Mz: {{ contratoSeleccionado?.Manzana }} <br>
                    Lt: {{ contratoSeleccionado?.Lote }}-->
                  </div>
                </div>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" [class.show]="dropdownOpen">
                <li *ngFor="let contrato of listaContrato">
                  <a class="dropdown-item" (click)="seleccionarContrato($event, contrato);">
                    <div class="row">
                      <div class="col">{{ contrato.nombre_proyecto }}</div>
                      <div class="col">{{contrato?.numero_contrato}} - {{ contrato?.Lote }}
                        <!--Et: {{ contrato.nombre }} <br>
                        Mz: {{ contrato.Manzana }} <br>
                        Lt: {{ contrato.Lote }}-->
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="dropdown" *ngIf="usuario">
              <button class="btn btn5 dropdown-toggle " type="button" (click)="toggleDropdownSession()" aria-expanded="false">
                <i class="bi-person my-3"></i>
                <span class="d-none d-md-inline">{{ usuario.cliente }}</span>
              </button>
              <ul class="dropdown-menu" [class.show]="dropdownSession">
                <li><a class="dropdown-item" (click)="cambiarContrasena()">Cambiar contraseña</a></li>
                <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>
      </div>
      </div>
    </div>
</nav>
<!--barra vertical-->


<!-- app.component.html -->
<div class="container mb-2">
  <div class="row">
    <div class="col-md-3 col-lg-2  d-none d-md-block">
      <div class="menu barV" style="height: 40rem;">
        <div class="container ps-2 py-5">
          <p [class.btn_act]="isModuloActivo('INICIO')" [class.btn_des]="!isModuloActivo('INICIO')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('INICIO')">
            <i class="bi-grid-1x2-fill"></i> Inicio
          </p>
          <p [class.btn_act]="isModuloActivo('PAGOS')" [class.btn_des]="!isModuloActivo('PAGOS')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('PAGOS')">
            <i class="bi-piggy-bank-fill"></i> Mis pagos
          </p>
          <p [class.btn_act]="isModuloActivo('INMUEBLES')" [class.btn_des]="!isModuloActivo('INMUEBLES')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('INMUEBLES')">
            <i class="bi-house-fill"></i> Mis inmuebles
          </p>
          <p [class.btn_act]="isModuloActivo('PREGUNTAS')" [class.btn_des]="!isModuloActivo('PREGUNTAS')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('PREGUNTAS')">
            <i class="bi-question-lg"></i> Preguntas frecuentes
          </p>
        </div>
      </div>
    </div>

<!--segundo barra de menu-->
<div class="container-fluid mb- d-block d-md-none">
<div class="row">
<div class="col-12 ">
 
    <div class="container mb-2">
      <div class="row barV text-center">
      <div class="col-3">
        <p [class.btn_actH]="isModuloActivo('INICIO')" [class.btn_desH]="!isModuloActivo('INICIO')" class="pt-4 " type="button" id="text_barV" (click)="setModulo('INICIO')">
          <i class="bi-grid-1x2-fill"><br></i> Inicio
        </p>
      </div>
      <div class="col-3">
        <p [class.btn_actH]="isModuloActivo('PAGOS')" [class.btn_desH]="!isModuloActivo('PAGOS')" class="pt-4" type="button" id="text_barV" (click)="setModulo('PAGOS')">
          <i class="bi-piggy-bank-fill"><br></i> Mis pagos
        </p>
      </div>
      <div class="col-3">
        <p [class.btn_actH]="isModuloActivo('INMUEBLES')" [class.btn_desH]="!isModuloActivo('INMUEBLES')" class=" pt-3" type="button" id="text_barV" (click)="setModulo('INMUEBLES')">
          <i class="bi-house-fill"><br></i> Mis inmuebles
        </p>
      </div>
      <div class="col-3">
        <p [class.btn_actH]="isModuloActivo('PREGUNTAS')" [class.btn_desH]="!isModuloActivo('PREGUNTAS')" class="pt-2" type="button" id="text_barV" (click)="setModulo('PREGUNTAS')">
          <i class="bi-question-lg"><br></i> Preguntas frecuentes
        </p>
      </div>
      
    </div>
  </div>
</div>
</div>
</div>

    <div class="col-12 col-md-9 col-lg-10">
      <section *ngIf="modulo === 'INICIO' && contratoSeleccionado">
        <div class="container">
          <app-inicio-general [contratoSeleccionado]="contratoSeleccionado" [modulo]="modulo"></app-inicio-general>
        </div>
      </section>

      <section *ngIf="modulo === 'PAGOS' && contratoSeleccionado">
        <div class="container">
          <app-pagos [contratoSeleccionado]="contratoSeleccionado"></app-pagos>
        </div>
      </section>
      
      <section *ngIf="modulo === 'INMUEBLES' && contratoSeleccionado">
        <div class="container">
          <app-inmueble [contratoSeleccionado]="contratoSeleccionado"></app-inmueble>
        </div>
      </section>
      
      <section *ngIf="modulo === 'PREGUNTAS' && contratoSeleccionado">
        <div class="container">
          <app-preguntas-frecuentes [contratoSeleccionado]="contratoSeleccionado"></app-preguntas-frecuentes>
        </div>
      </section>

    </div>
  </div>
</div>

