<!--Navar-->
<nav class="navbar navbar-expand-lg barra py-3 mb-5">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="Bootstrap" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">

        <div class="dropdown" (click)="toggleDropdown()">
          <button class="btn btn5 dropdown-toggle" type="button" id="dropdownMenuButton"
            [attr.aria-expanded]="dropdownOpen ? 'true' : 'false'" (click)="toggleDropdownAndSelect()">

            <div class="row">
              <div class="col">{{ contratoSeleccionado?.nombre_proyecto }}</div>
              <div class="col">{{contratoSeleccionado?.numero_contrato}}<!--{{ contratoSeleccionado?.nombre }}-->
                <!--Et: {{ contratoSeleccionado?.nombre }} <br>
                Mz: {{ contratoSeleccionado?.Manzana }} <br>
                Lt: {{ contratoSeleccionado?.Lote }}-->
              </div>
            </div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" [class.show]="dropdownOpen">
            <li *ngFor="let contrato of listaContrato">
              <a class="dropdown-item" (click)="seleccionarContrato($event, contrato);">
                <div class="row">
                  <div class="col">{{ contrato.nombre_proyecto }}</div>
                  <div class="col">{{ contrato.nombre }}
                    <!--Et: {{ contrato.nombre }} <br>
                    Mz: {{ contrato.Manzana }} <br>
                    Lt: {{ contrato.Lote }}-->
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>


        <div class="dropdown" *ngIf="usuario">
          <button class="btn btn5 dropdown-toggle ms-3" type="button" (click)="toggleDropdownSession()"
            aria-expanded="false">
            <i class="bi-person my-3"></i> {{ usuario.cliente }}
          </button>
          <ul class="dropdown-menu" [class.show]="dropdownSession">
            <li><a class="dropdown-item" (click)="cambiarContrasena()">Cambiar contraseña</a></li>
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a></li>
          </ul>
        </div>

        <!--lista desplegable-->
        <hr class="linea d-lg-none">
        <a class="nav-link d-lg-none" id="texto5" href="#"><i class="bi-grid-1x2-fill me-3"></i>Inicio</a>
        <a class="nav-link d-lg-none" id="texto5" (click)="openView(2)"><i class="bi-piggy-bank-fill me-3"></i>Mis
          pagos</a>
        <a class="nav-link d-lg-none" id="texto5"><i class="bi-house-fill me-3"></i>Mis inmuebles</a>
        <a class="nav-link d-lg-none" id="texto5" href="#"><i class="bi-question-lg me-3"></i>Pregusntas frecuentes</a>
        <hr class="linea d-lg-none">
        <a class="nav-link d-lg-none" id="texto5" href="#"><i class="bi-person me-3"></i>Cerrar sesion</a>
      </div>
    </div>
  </div>
</nav>
<!--barra vertical-->


<!-- app.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-2  d-none d-md-block">
      <div class="menu barV" style="height: 40rem;">
        <div class="container ps-2 py-5">
          <p [class.btn_act]="isModuloActivo('INICIO')" [class.btn_des]="!isModuloActivo('INICIO')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('INICIO')">
            <i class="bi-grid-1x2-fill"></i> Inicio
          </p>
          <p [class.btn_act]="isModuloActivo('PAGOS')" [class.btn_des]="!isModuloActivo('PAGOS')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('PAGOS')">
            <i class="bi-piggy-bank-fill"></i> Mis pagos
          </p>
          <p [class.btn_act]="isModuloActivo('INMUEBLES')" [class.btn_des]="!isModuloActivo('INMUEBLES')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('INMUEBLES')">
            <i class="bi-house-fill"></i> Mis inmuebles
          </p>
          <p [class.btn_act]="isModuloActivo('PREGUNTAS')" [class.btn_des]="!isModuloActivo('PREGUNTAS')" class="ps-3 py-2" type="button" id="text_barV" (click)="setModulo('PREGUNTAS')">
            <i class="bi-question-lg"></i> Preguntas frecuentes
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <section *ngIf="modulo === 'INICIO' && contratoSeleccionado">
        <div class="container">
          <app-inicio-general [contratoSeleccionado]="contratoSeleccionado" [modulo]="modulo"></app-inicio-general>
        </div>
      </section>

      <section *ngIf="modulo === 'PAGOS' && contratoSeleccionado">
        <div class="container">
          <app-pagos [contratoSeleccionado]="contratoSeleccionado"></app-pagos>
        </div>
      </section>
      
      <section *ngIf="modulo === 'INMUEBLES' && contratoSeleccionado">
        <div class="container">
          <app-inmueble [contratoSeleccionado]="contratoSeleccionado"></app-inmueble>
        </div>
      </section>

    </div>
  </div>
</div>