<div class="col-12">
  <div class="panel ">
    <h4 class="titulo m-3">Preguntas frecuentes</h4>
    <div class="container">
      <div class="ficha">
        <!--contenido-->
        <p class="titulo1 ms-3 mt-3">Preguntas frecuentes</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="boton1 ms-3 mb-2 me-4 text-center" href="https://api.whatsapp.com/send?phone=51923365503&text=Estoy%20experimentando%20dificultades%20para%20pagar%20en%20este%20momento%20y%20necesito%20ayuda.%20¿Podrías%20guiarme%20sobre%20cómo%20proceder%3F"
             target="_blank">AYUDA</a>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseUno')">
                ¿Es necesario realizar el registro de la propiedad ante Registros Públicos?
              </button>
            </h2>
            <div id="collapseUno" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <P class="texto2">
                  Sugerimos inscribir la compraventa ante Registros Públicos, debido a que dicho acto genera que 
                  ningun tercero pueda desconocer la titularidad del propietario. Así como también protege al 
                  propietario, frente a los posibles intentos de transferencia fraudulenta que podría realizar 
                  cualquier tercero respecto del inmueble. A esto se le suma, que en caso desee realizar la 
                  transferencia de dicho inmueble e inscribirla, necesitará haber inscrito previamente su compraventa
                   por ser éste un requisito registral.</P>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseDos')">
                ¿Cuándo es la fecha de pago de las letras?
              </button>
            </h2>
            <div id="collapseDos" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <P class="texto2">
                  La fecha de pago de las letras, se verifican en el cronograma que se encuentra adjunto a su
                  contrato/compromiso.</P>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseTres')">
                Para empezar a construir,¿necesito alguna licencia?
              </button>
            </h2>
            <div id="collapseTres" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <P class="texto2">
                  Sugerimos que realice el trámite de licencia de construcción ante la Municipalidad correspondiente,
                   de manera previa al inicio de la misma, con la finalidad de que pueda realizar una construcción
                    conforme a los parámetros e indicáciones que le brinde la Municipalidad y evitarse posibles
                     multas y sanciones por parte de dicha entidad.</P>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseCuatro')">
                ¿A partir de cuando puedo empezar mi construcción?
                ¿Qué requisitos debo cumplir?
              </button>
            </h2>
            <div id="collapseCuatro" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <P class="texto2">
                  La construcción se puede realizar a partir de la entrega del lote. Asimismo, le sugerimos que realice
                   el trámite de licencia de construcción ante la Municipalidad correspondiente, previo a inciar la 
                   construcción, con el objeto de evitar multas y sanciones por parte de la Municipalidad.</P>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion('collapseCinco')">
                ¿Cómo es el proceso de entrega de lotes?
              </button>
            </h2>
            <div id="collapseCinco" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <P class="texto2">
                  Se ha previsto la entrega de terrenos incluso antes de la culminación total de obras, el desarrollo de las facilidades, beneficios o amenities que se hubieran diseñado, de modo tal que no será necesario culminar con todas ellas para disfrutar de su compra. 
Al iniciar el proceso de entrega de terrenos, usted recibirá una comunicación vía correo electrónico, WhatsApp y/o llamada telefónica donde le indicaremos la fecha y hora dispuesta para la firma en nuestras oficinas de los documentos de entrega de terreno. A partir de ello, usted podrá ocupar su terreno y disfrutarlo al máximo, siempre manteniendo coordinación con nuestro equipo de postventa y con la administración del Condominio. 
</P>
              </div>
            </div>
          </div>
        </div>

        <p class="titulo1 ms-3 mt-5">Otras preguntas</p>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" *ngFor="let item of visibleAccordionItems">
            <h2 class="accordion-header">
              <button class="texto2 accordion-button collapsed" type="button" (click)="toggleAccordion(item.id)">
                {{ item.title }}
              </button>
            </h2>
            <div [id]="item.id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p class="texto2">
                  {{ item.content }}
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="!showAll" class="d-flex justify-content-center">
            <button (click)="toggleShowAll()" class="btn-toggle">Ver más</button>
          </div>
          <div *ngIf="showAll" class="d-flex justify-content-center">
            <button (click)="toggleShowAll()" class="btn-toggle">Ver menos</button>
          </div>
        </div>
        
        <br>
      </div>
    </div>
    <br>
  </div>
</div>
